<template name="home">
  <div class="container">
    <div class="text-center">
      <h1>Hello World</h1>
      <p>
        Welcome to the foremost showcase of exquisite African Pictures
      </p>
    </div>
  </div>
</template>
